.heading{
    display: block; 
}
.home,.about,.certificates,.contact{
    margin-right: 40px;
    color:black ;
}
.about{
    margin-right: 40px;
}
.certificates,.contact{
    margin-right: 40px;
}
.search-bar{
    border-color:black;
    border-style: solid;
    cursor: pointer;
    border-radius: 2px;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;

}
.search-bar:hover{
    background-color: lightgreen;
    opacity: 0.9;
    transition:opacity 1s;
}
.hello{
    font-size: medium;
    font-weight:solid;
    font-family: bold;
}
.name-block{
    width: 180px;
    display: inline-block;
    -webkit-text-stroke: 0.5px #BF0E0E;
    -webkit-text-fill-color :1px #0BF5CB;
    -webkit-text-stroke-width: 0.5px
}
.profile-image{
    width: 100px;
    display:inline-block;
}
.profile{
    display:inline-block;
    vertical-align: top;
}
.my-career{
    color:#092FF3;
}
.myself{
    background-color:#F8E0C5;
    justify-content: center;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right:50px;
  display: inline-block;
  margin-right: 40px;

}
.description{
    display: inline-block;
    width: 300px;
    vertical-align: top;
    font-size: 26px;
}
.Experience{
    background-color: #cc80ff;
    justify-content: center;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right:50px;
    width: 80px;
    margin-top: 150px;
    display: inline-block;
    vertical-align: center;
}
  

.description-experience{
    background-color: #5FA066;width: 300px;height: 200px;
    border-radius: 15px;
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    margin-bottom: 220px;
   
}
.skills{
    background-color: #E59C2D;
    justify-content: center;
    border-radius: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right:50px;
    width: 80px;
    margin-top: 150px;
    display: inline-block;
    vertical-align: center;
}
.description-skills{
    border-radius: 15px;
    text-align: left;
    padding-left: 10px;
    display: inline-block;
    width: 300px;
    margin-left: 50px;
    vertical-align: middle;
}